.catalog {
  justify-content: space-between;
}
.filters {
  width: 100%;
  height: fit-content;
  gap: 0.6em;
}
.filters .filter-container {
  width: 100%;
  flex-grow: 1;
  transition: all 0.3s ease;
}
.filters .order-container {
  transition: all 0.3s ease;
}
.filters .row.order {
  justify-self: flex-end !important;
}

#order-controller {
  min-width: 15em;
}
#reset-filters-btn svg {
  width: 2.5em;
}

.info-card {
  margin-bottom: 12em;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  gap: 0.6em;
}
product-card {
  width: 100% !important;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1152px) {
  .catalog {
    flex-direction: column !important;
  }
}
@media (max-width: 1152px) {
  #filters {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 896px) {

}
@media (max-width: 768px) {
  .filter-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6em;
  }
  .filter-container tacea-dropdown {
    min-width: 100% !important;
  }
}