/* banner */
.banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 5em;
  padding: 4em 3.5em;
}
.banner-content {
  display: flex;
  position: relative;
  height: fit-content;
}
.banner-txt {
  max-width: 50%;
}
.banner-content h1{
  text-wrap: wrap;
  line-height: 1.1em;
  font-size: 4em;
  transition: all 0.3s ease;
}
.banner-content .highlight {
  color: var(--trueorange);
}
.banner-content img {
  z-index: -1;
  position: absolute;
  width: 40em;
  height: auto;
  top: -8.5em;
  right: 0;
  transition: all 0.3s ease;
}
/* socials column */
.socials {
  align-items: center;
  padding: 0 3.5em;
}
.socials svg {
  width: 2em;
  height: auto;
}
.socials .vertical-div {
  width: 2px;
  height: 8em;
  background-color: var(--dark);
}

/* RESPONSIVE DESIGN */
@media (max-width: 1280px) {
  .banner-content img {
    top: -7em;
  }
  .banner-content h1 {
    font-size: 3.5em;
  }
}
@media (max-width: 1152px) {
  .banner {
    align-items: end;
    gap: 2em;
    padding: 3em 3.5em;
  }
  .banner-content {
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 1em;
  }
  .banner-content h1 {
    width: 100%;
    font-size: 2.5em;
  }
  .banner-content img {
  z-index: -1;
  opacity: 0.4;
  top: -20em;
}
}
@media (max-width: 1024px) {
  .banner-content img {
    opacity: 0.2;
  }
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
  .banner-content img {
    top: -16em;
  }
  .banner-txt {
    min-width: 20em;
  }
  .socials {
    padding: 0;
  }
  .socials .vertical-div {
    display: none;
  }
}
@media (max-width: 448px) {
  .socials {
    display: none;
  }
}