/* banner */
.banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  overflow: hidden;
  gap: 5em;
  margin-top: 3.5em;
  padding: 4em 3.5em;
}
.banner-content {
  display: flex;
  position: relative;
  height: fit-content;
}
.banner-txt {
  max-width: 46%;
}
.banner-content h1{
  color: var(--dark);
  text-wrap: wrap;
  line-height: 1.1em;
  padding: 0.6em 0;
  transition: all 0.3s ease;
}
.banner-content .highlight {
  color: var(--trueorange);
}
.banner-content p {
  color: var(--dark);
}
.banner-content img {
  z-index: -1;
  position: absolute;
  width: 40em;
  height: auto;
  top: -7.5em;
  right: 0;
  transition: all 0.3s ease;
}
/* socials column */
.socials {
  align-items: center;
  padding: 0 3.5em;
}
.socials svg {
  width: 2em;
  height: auto;
}
.socials .vertical-div {
  width: 2px;
  height: 8em;
  background-color: var(--dark);
}

/* special offers section */
.section .special-offers {
  justify-content: center;
  width: 100%;
}
.special-offers {
  color: var(--dark);
  background-color: var(--hueso);
}
.special-offers .row h2 {
  color: var(--dark);
}

/* category selector header */
.category-selector {
  color: var(--dark);
  background-color: var(--hueso);
  align-items: start;
  text-align: left;
  margin-bottom: 2em;
}
.category-selector .row {
  width: 100%;
}
.category-selector .carousel-row::-webkit-scrollbar {
  display: none;
}
.category-selector .carousel-row .cat {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.category-selector .carousel-row .cat::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color:  var(--dark-opac);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.category-selector .carousel-row .cat img {
  width: 8em;
  height: 8em;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.category-selector .carousel-row .cat span {
  position: absolute;
  right: 0;
  bottom: 1em;
  z-index: 1;
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 0.75em;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.category-selector .carousel-row .cat:hover::after {
  background-color: rgba(0, 0, 0, 0); 
}
.category-selector .carousel-row .cat:hover {
  transform: scale(1.08);
}


/* get their style section */
.get-their-style {
  color: var(--hueso);
  background: var(--radial-gradient-hueso-steel), 
    url('../img/get_their_style_bg.png') center / cover no-repeat;
  border: 2px solid var(--dark);
  min-height: 25em;
  display: flex;
  gap: 1em;
  border-radius: 5px;
  padding-left: 3.5em;
  transition: all 0.3s ease;
}
.get-their-style .img-container {
  position: relative;
  width: 70%;
}
.get-their-style img {
  position: absolute;
  left: 0em;
  bottom: 0em;
  width: auto;
  height: 30em;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.get-their-style .text-container {
  background-color: var(--steel-40);
  backdrop-filter: blur(15px);
  border-left: 2px solid var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.5em;
  gap: 1em;
  transition: all 0.3s ease;
}
.get-their-style .text-container h2 {
  color: var(--hueso);
}
.get-their-style .text-container p {
  margin: 0;
}
.get-their-style .text-container .row {
  gap: 0.6em;
}
.get-their-style .text-container .btn-primary {
  height: 100%;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1280px) {
  .banner-content img {
    top: -7em;
  }
  .banner-content h1 {
    font-size: 3.5em;
  }
  .get-their-style {
    padding-left: 0;
  }
  .get-their-style .img-container {
    width: 100%;
  }
  .get-their-style .text-container {
    padding: 2em;
  }
}
@media (max-width: 1152px) {
  .banner {
    align-items: end;
    gap: 2em;
    padding: 3em 3.5em;
  }
  .banner-content {
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 1em;
  }
  .banner-content h1 {
    width: 100%;
    font-size: 2.5em;
  }
  .banner-content img {
    z-index: -1;
    opacity: 0.4;
    top: -20em;
  }
  .category-selector-header h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 1024px) {
  .banner-content img {
    top: -18em;
    opacity: 0.2;
  }
  
  .get-their-style .img-container {
    width: 150%;
  }
}
@media (max-width: 896px) {
  .get-their-style {
    background: var(--radial-center-gradient), 
      url('../img/get_their_style_bg.png') center / cover no-repeat;
    flex-direction: column;
    align-items: space-between;
    width: 100%;
    padding: 0;
  }
  .get-their-style .img-container {
    width: 100%;
    height: 8em;
  }
  .get-their-style img {
    top: -5em;
    left: 50%; 
    transform: translateX(-50%);
  }
  .get-their-style .text-container {
    border-left: none;
    border-top: 2px solid var(--dark);
  }
}
@media (max-width: 768px) {
  .banner {
    min-height: 25em;
    flex-direction: column;
  }
  .banner-content img {
    left: -8em;
    top: -16em;
  }
  .banner-txt {
    min-width: 20em;
  }
  .socials {
    padding: 0;
  }
  .socials .vertical-div {
    display: none;
  }
}
@media (max-width: 448px) {
  .banner-content img {
    top: -7em;
  }
  .socials {
    display: none;
  }
}
