
:root {
  /* normal colors */
  --steel: #66727C;
  --trueorange: #EE3C0C;
  --hueso: #E6E4D5;
  --light: #fff;
  --dark: #242323;
  /* opac colors */
  --trueorange-40: rgba(238, 60, 12, 0.4);
  --steel-opac: rgba(102, 114, 124, 0.6);
  --steel-40: rgba(102, 114, 124, 0.4);
  --steel-20: rgba(102, 114, 124, 0.2);
  --hueso-opac: rgba(230, 228, 213, 0.8);
  --light-opac: rgba(255, 255, 255, 0.8);
  --dark-opac: rgba(36, 35, 35, 0.6);
  --dark-40: rgba(36, 35, 35, 0.4);
  /* gradientes */
  --gradient-hueso-steel: linear-gradient(to left, var(--hueso-opac), var(--steel-opac));
  --radial-gradient-hueso-steel: radial-gradient(15% 50% at 19.3% 50.14%, var(--hueso-opac) 0%, var(--steel-opac) 100%);
  --radial-center-gradient: radial-gradient(50% 50% at center, var(--hueso-opac) 0%, var(--steel-opac) 100%);
}

/* global styles */
* {
  box-sizing: border-box;
}
::selection {
  background: var(--trueorange);
}
::-moz-selection {
  background: var(--trueorange);
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 6em;
  font-family: "Unbounded", sans-serif;
  background-color: var(--hueso);
  color: var(--steel);
}
ul {
  list-style: none; 
  display: flex;
  gap: 0.8em;
  padding: 0;
  margin: 0; 
}
a {
  text-decoration: none;
}
svg {
  width: 2em;
  height: auto;
  color: var(--dark);
}
/* global text styles */
h1 {
  font-size: 3.6em;
  font-weight: 500;
  margin: 0;
  transition: all 0.3s ease;
}
h2 {
  color: var(--dark);
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
  transition: all 0.3s ease;
}
h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
  transition: all 0.3s ease;
}
p {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}
.bold {
  font-weight: 500 !important;
}

/* flex directions */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* general div styles */
.row h2 {
  flex-shrink: 0;
}
.section {
  display: flex;
  flex-direction: column;
  padding: 4em 5.5em;
  gap: 1.5em;
}
.horizontal-div {
  width: 100%;
  height: 2px;
  background-color: var(--dark);
}
.vertical-div {
  width: 2px;
  height: 100%;
  background-color: var(--dark);
}
.carousel-row {
  display: flex;
  gap: 1.2em;
  width: 100%;
  overflow-x: auto;
  padding: 1em 0.5em;
  scroll-behavior: smooth;
  scrollbar-width: none
}
.carousel-row::-webkit-scrollbar {
  display: none;
}
.pill-badge {
  background-color: var(--hueso);
  color: var(--dark);
  border: 2px solid var(--dark);
  font-size: 12px;
  padding: 0.2em 0.6em;
  border-radius: 5px;
  font-weight: 500;
}

/* NAVBAR */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  z-index: 100;
  background-color: var(--hueso);
  align-items: center;
  gap: 0em !important;
}
header .top-navbar {
  width: 100%;
  justify-content: space-between;
  padding: 0.8em 3.5em;
  padding-bottom: 0.2em;
  transition: all 0.3s ease;
}
.header-logo {
  width: 120px;
}
.top-navbar .navbar-links {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
}
.top-navbar .hamburger-btn {
  display: none;
  background: none;
  border: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
/* bottom navbar */
header .bottom-navbar {
  width: 100%;
  padding: 0.4em 5.5em;
  gap: 1.5em;
  background-color: var(--steel);
  transition: all 0.3s ease;
}
.bottom-navbar a {
  color: var(--hueso);
  text-transform: capitalize;
  font-weight: 350;
  font-size: 13px;
  transition: all 0.2s ease;
}
.bottom-navbar a:hover {
  color: var(--light);
  text-decoration: underline;
}
.bottom-navbar .vertical-div {
  width: 1px;
  height: 1.5em;
  background-color: var(--hueso);
}

/* FOOTER */
footer {
  background-color: var(--dark);
  color: var(--hueso);
  padding: 3.5em 5.5em;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5em;
  margin-bottom: 3.5em;
}
.footer-grid svg {
  margin-top: 1em;
  color: var(--hueso);
}
.footer-column {
  align-items: start;
  gap: 0.8em;
}
.footer-column h3 {
  margin: 0;
  font-weight: 500;
}
.footer-column p {
  margin: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
}
.footer-column a {
  font-size: 14px;
  font-weight: 300;
  color: var(--hueso);
  border-bottom: 2px solid var(--dark);
  transition: all 0.2s ease;
}
.footer-column a:hover {
  color: var(--light);
  border-bottom: 2px solid var(--light);
  scale: 1.02;
}
.footer-bottom {
  border-top: 1px solid var(--hueso);
  padding-top: 1.2em;
}
.newsletter-form {
  display: flex;
  width: 100%;
  gap: 0.8em;
}
.newsletter-form input[type="email"] {
  flex-grow: 1;
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid var(--hueso);
  font-family: inherit;
  color: var(--light);
  outline: none;
  padding: 0.4em 0.2em;
  border-radius: 0px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.newsletter-form input[type="email"]::placeholder {
  color: var(--hueso); 
  opacity: 1;  
}
.newsletter-form input[type="submit"]:hover {
  color: var(--light);
  background-color: var(--light);
}

/* buttons */
.btn-primary {
  height: 2.6em;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.4em 0.7em;

  background-color: var(--hueso);
  border: 2px solid var(--dark);
  border-radius: 5px;
  
  font-size: 18px;
  cursor: pointer;
}
.btn-primary svg {
  height: 1.6em;
}
.btn-primary span, 
.btn-primary svg {
  position: relative;
  z-index: 1;
  color: var(--dark);
  transition: color 0.2s ease;
}

.btn-primary:hover span, 
.btn-primary:hover svg {
  color: var(--light);
}
.btn-primary::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 0%; width: 100%;
  background-color: var(--trueorange);
  transition: all 0.2s ease;
}
.btn-primary:hover::before {
  height: 100%;
}
.btn-secondary {
  background-color: var(--hueso);
  font-family: inherit;
  border: 0px;
  color: var(--dark);
  padding: 0.4em 0.8em;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.category-btn {
  background-color: var(--steel-40);
  border: 2px solid var(--dark);
  border-radius: 5px;
  color: var(--dark);
  padding: 0.2em 0.6em;

  font-size: 14px;
  text-transform: capitalize;
  font-family: inherit;
  text-wrap: nowrap;

  cursor: pointer;
  transition: all 0.3s ease;
}
.category-btn a {
  color: var(--dark);
}
.category-btn:hover {
  scale: 1.02;
  color: var(--hueso);
  background: var(--steel);
}
.active {
  background-color: var(--steel) !important;
  color: var(--hueso) !important;
}
.btn-outline {
  background-color: transparent;
  border: 2px solid var(--dark);
  color: var(--dark);
  padding: 0.4em 0.8em;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-outline:hover {
  background-color: var(--trueorange);
  color: var(--light);
}
.btn-search svg {
  width: 2.3em;
}
.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease;
}
.btn-icon svg:hover {
  color: var(--trueorange);
  scale: 1.1;
}

/* cards */
product-card {
  position: relative;
  color: var(--dark);
  background-color: var(--hueso);
  border: 2px solid var(--dark);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;
  gap: 0.2em;
  width: 16em;
  flex-shrink: 0;
  transition: all 0.3s ease;
}
product-card img {
  width: 100%;
  height: 12em;
  object-fit: contain;
  padding-bottom: 1em;
}
product-card h3 {
  display: -webkit-box;
  line-clamp: 2; 
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; 
  min-height: 2.5em;
  margin: 0;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}
product-card p {
  font-size: 16px;
  margin: 0;
  margin-right: 0.5em;

}
product-card .row {
  margin-top: 0.4em;
  gap: 0.5em;
}
product-card:hover {
  background: var(--steel-20);
  transform: scale(1.02);
}
.product-category {
  color: var(--dark);
  text-transform: capitalize;
  margin: 0;
  font-size: 14px;
  transition: all 0.2s ease;
}
.product-category:hover {
  color: var(--trueorange);
  scale: 1.02;
  text-decoration: underline;
}
post-card, review-card {
  position: relative;
  display: flex;

  background-color: var(--hueso);
  border: 2px solid var(--dark);
  border-radius: 5px;
  
  transition: all 0.3s ease;
}
review-card {
  padding: 0.5em 0;
  height: fit-content;
}
review-card .row img {
  width: 2em;
  height: 2em;
  border-radius: 5px;
  object-fit: cover;
}
review-card .column {
  gap: 0;
}
review-card .column span {
  font-size: 0.8em;
}
review-card .column .date {
  color: var(--dark-opac);
}
post-card {
  height: 12.5em;
}
post-card img,
review-card img {
  width: 12em;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
post-card .card-content,
review-card .card-content {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: start;

  padding: 1em 1.5em;
  gap: 0.5em;

  color: var(--dark);
}
post-card .card-content {
  border-left: 2px solid var(--dark);
}
post-card .card-content p,
review-card .card-content p {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
post-card .card-content a {
  color: var(--dark);
  text-transform: capitalize;
  margin: 0;
  width: fit-content;
  font-size: 14px;
  transition: all 0.2s ease;
}
post-card .card-content a:hover {
  color: var(--trueorange);
  text-decoration: underline;
}
post-card:hover,
review-card:hover {
  color: var(--hueso);
  background: var(--steel-20);
  transform: scale(1.02);
}
post-card .row,  /* row con las categorias del post */
review-card .row {  /* row con la fecha y autor de la review */
  gap: 0.5em;
}
post-card .views {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
post-card .views svg {
  width: 1em;
  height: auto;
}
post-card .views p {
  font-size: 0.8em;
}

@media (max-width: 1280px) {
  post-card {
    height: 10em;
  }
  post-card img,
  review-card img {
    width: 10em;
  }
}
@media (max-width: 1024px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 896px) {
  .top-navbar .logo {
    gap: 0;
  }
  .top-navbar .navbar-links {
    display: none;
  }
  .top-navbar .hamburger-btn {
    display: flex;
  }
  .bottom-navbar {
    display: none;
  }
}
@media (max-width: 768px) {
  .header-logo {
    width: 110px;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 13px;
  }
  post-card .card-content .post-category {
    font-size: 12px;
  }
  .footer-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 672px) {
  header .top-navbar, .bottom-navbar {
    padding: 0.6em 3em;
  }
  footer {
    padding: 3em 3em;
  }
  .section { 
    padding: 3em 3em;
  }
  post-card {
    height: 8em;
  }
  post-card img {
    width: 8em;
  }
  post-card .card-content, 
  review-card .card-content {
    padding: 1em;
  }
  post-card .card-content h3 {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  post-card .card-content p {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@media (max-width: 572px) {
  header .top-navbar, .bottom-navbar {
    padding: 0.6em 2em;
  }
  footer {
    padding: 3em 2em;
  }
  .section { 
    padding: 3em 2em;
  }
  .btn-primary {
    font-size: 14px;
  }
  .category-btn {
    border: 1.5px solid var(--dark);
  }
  post-card .card-content,
  review-card .card-content {
    gap: 0.4em;
  }
  post-card .card-content h3 {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  post-card .card-content p {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  product-card {
    width: 14em;
  }
  post-card .row {
    gap: 0.2em;
  }
}
@media (max-width: 512px) {
  .header-logo {
    width: 100px;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 0.9em;
  }
}
@media (max-width: 448px) {
  header .top-navbar, .bottom-navbar {
    padding: 0.6em 1em;
  }
  footer {
    padding: 3.5em 1em;
  }
  .section { 
    padding: 3em 1em;
  }
}