.product-details {
  flex-direction: row;
  align-items: stretch;
  gap: auto;
}

.product-images {
  position: relative;
  flex-grow: 1;
  max-height: 30em;
  gap: 4em;
  transition: all 0.3s ease;
}
.product-images .main-image {
  width: 100%;
  height: 30em;
}
#product-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#product-aditional-imgs {
  position: absolute;
  bottom: -1.5em;
  gap: 0.6em;
}
#product-aditional-imgs img {
  width: 7em;
  height: 7em;
  object-fit: cover;

  background-color: var(--hueso) !important;
  backdrop-filter: blur(15px);
  border: 2px solid var(--dark);
  border-radius: 5px;

  cursor: pointer;
  transition: all 0.3s ease;
}
#product-aditional-imgs img:hover {
  background-color: var(--steel-40) !important;
  scale: 1.02;
}
#product-aditional-imgs img:active {
  background-color: var(--dark-40) !important;
  scale: 0.98;
}
#product-aditional-imgs .active {
  background-color: var(--dark-40) !important;
}

.product-overview {
  height: 100%;
  width: 40em;

  color: var(--dark);
  border: 2px solid var(--dark);
  border-radius: 5px;

  padding: 2em 2.5em;
  gap: 1.5em;
}
.product-overview .header {
  align-items: flex-start;
  justify-content: space-between;
}
.product-overview .header .other-actions {
  gap: 0.2em;
}
.product-overview #product-category {
  width: fit-content !important;
}
.product-overview .column {
  gap: 0.2em;
}
.product-overview .column .row {
  justify-content: space-between;
}
.product-overview .main-actions {
  gap: 0.6em;
}
.product-overview .bold {
  font-size: 1em;
}
.product-overview .horizontal-div {
  height: 1.6px !important;
}
.product-overview .row {
  gap: 0.5em;
}
.product-overview .product-price {
  flex-grow: 1;
  gap: 0;
}
#product-price-before-discount {
  color: var(--steel);
  text-decoration: line-through;
}
.product-overview .product-quantity {
  height: 100%;
  border: 2px solid var(--dark);
  border-radius: 5px;
}
.product-overview .product-quantity span {
  padding: 0.4em;
}
.product-overview .product-quantity button {
  border: 0;
  background-color: transparent;
  padding: 0.4em;
  transition: all 0.3s ease;
}
.product-overview .product-quantity button:hover  {
  background-color: var(--dark-20);
}
.product-overview .product-quantity button:active  {
  background-color: var(--dark-40);
}
#product-buy-btn {
  background-color: var(--dark);
}
#product-buy-btn span {
  color: var(--hueso);
}

#product-reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1280px) {
  .product-overview {
    width: 32em;
  }
  #product-img {
    width: 100%;
    height: 100%;
  }
  #product-aditional-imgs {
    flex-direction: row;
  }
  #product-reviews {
    grid-template-columns: repeat(1, 1fr);
  }
  review-card {
    width: fit-content !important;
  }
}
@media (max-width: 1152px) {
  .product-details {
    flex-direction: column;
    gap: 4em;
  }
  .product-images {
    flex-direction: row;
    gap: 1em;
  }
  #product-img {
    width: 100%;
    height: 30em;
  }
  .product-overview {
    width: 100%;
  }
}
@media (max-width: 672px) {
  .product-overview {
    padding: 1em;
  }
  #product-aditional-imgs img {
    width: 6em;
    height: 6em;
  }
}